.box1{
     background-color: orange;
    height: 300px;
  /*  width: 300px; */
}
.box2{
     background-color: green;
    height: 300px;
    display: none;
  /*  width: 300px; */
}


.text{
    color:white;
    font-size: 20px;
    line-height: 20px;
    font-family: monospace;
}

